
<form action="/Produto/Adiciona" method="post">
    @*Captura dos dados sem a regra de um obejto
        <label for="nome">Nome:</label>
        <input id="nome" name="nome" />

        <label for="preco">Preço:</label>
        <input id="preco" name="preco" />

        <label for="quantidade">Quantidade:</label>
        <input id="quantidade" name="quantidade" />

        <label for="descricao">Descrição:</label>
        <input id="descrica" name="descricao" />

        <label for="categoria">Categoria:</label>
        <input id="categoria" name="categoriaId" />*@
    @* Gerando um token para não sofrer ataques e garantindo a certeza que a requisição veio do usuário *@
    @Html.AntiForgeryToken()
    @Html.ValidationMessage("produto.Invalido")
    <label for="nome">Nome:</label>
    <input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome" class="form-control" />
    @Html.ValidationMessage("produto.Nome")

    <label for="preco">Preço:</label>
    <input id="preco" name="produto.Preco" value="@ViewBag.Produto.Preco" class="form-control" />

    <label for="quantidade">Quantidade:</label>
    <input id="quantidade" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" />

    <label for="descricao">Descrição:</label>
    <input id="descrica" name="produto.Descricao" value="@ViewBag.Produto.Descricao" class="form-control" />

    <label for="categoria">Categoria:</label>
    @*<input id="categoria" name="produto.CategoriaId" />*@
    <select id="categoria" name="produto.CategoriaId" class="form-control">
        @foreach (var categoria in ViewBag.Categorias)
        {
            <!--Fazendo com que o Razor redenrize a opção selecionada inicialmente pelo usuário-->
            <option value="@categoria.Id" selected="@categoria.Id.Equals(ViewBag.Produto.CategoriaId)">@categoria.Nome</option>
        }
    </select>
    @Html.ValidationMessage("produto.CategoriaId")

    <input type="submit" value="Cadastrar" />
</form>
<!--Aula 05

    Realizei algumas modificações nos input e no select para que quando o usuário informar um formulário com erro, o mesmo seja retornado com a mensagem de erro e com os dados que foram, inicialmente, preenchidos pelo o usuário.
    -->
